@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 25% 98%;
    --foreground: 220 25% 10%;
    --card: 220 25% 100%;
    --card-foreground: 220 25% 10%;
    --popover: 220 25% 100%;
    --popover-foreground: 220 25% 10%;
    --primary: 200 98% 45%; /* #0389E8 */
    --primary-foreground: 220 25% 98%;
    --secondary: 220 25% 95%;
    --secondary-foreground: 220 25% 10%;
    --muted: 220 25% 95%;
    --muted-foreground: 220 25% 40%;
    --accent: 220 25% 95%;
    --accent-foreground: 220 25% 10%;
    --destructive: 14 96% 57%; /* #FB5B28 */
    --destructive-foreground: 220 25% 98%;
    --border: 220 25% 90%;
    --input: 220 25% 90%;
    --ring: 200 98% 45%;
    --success: 200 98% 45%; /* #0389E8 */
    --warning: 40 99% 53%; /* #FEBA11 */
    --error: 14 96% 57%; /* #FB5B28 */
    --chart-1: 200 98% 45%; /* #0389E8 */
    --chart-2: 14 96% 57%; /* #FB5B28 */
    --chart-3: 40 99% 53%; /* #FEBA11 */
    --chart-4: 160 60% 45%;
    --chart-5: 280 65% 60%;
    --radius: 0.25rem;
  }
  .dark {
    --background: 216 100% 3%;
    --foreground: 220 25% 98%;
    --card: 216 100% 4%;
    --card-foreground: #eeffff;
    --popover: 220 25% 10%;
    --popover-foreground: 220 25% 98%;
    --primary: 200 98% 45%; /* #0389E8 */
    --primary-foreground: 220 25% 98%;
    --secondary: 220 25% 15%;
    --secondary-foreground: 220 25% 98%;
    --muted: 220 25% 15%;
    --muted-foreground: 241 34% 55%;
    --accent: 220 25% 15%;
    --accent-foreground: 220 25% 98%;
    --destructive: 14 96% 57%; /* #FB5B28 */
    --destructive-foreground: 220 25% 98%;
    --border: 157 100% 42%;
    --input: 220 25% 20%;
    --ring: 200 98% 45%;
    --success: 157 100% 42%; /* #0389E8 */
    --warning: 40 99% 53%; /* #FEBA11 */
    --error: 359 100% 42%; /* #FB5B28 */
    --chart-1: 200 98% 45%; /* #0389E8 */
    --chart-2: 14 96% 57%; /* #FB5B28 */
    --chart-3: 40 99% 53%; /* #FEBA11 */
    --chart-4: 160 60% 45%;
    --chart-5: 280 65% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top, width, height;
}
.react-grid-item img {
  pointer-events: none;
  user-select: none;
}
.react-grid-item.cssTransforms {
  transition-property: transform, width, height;
}
.react-grid-item.resizing {
  transition: none;
  z-index: 1;
  will-change: width, height;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.react-grid-item.dropping {
  visibility: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.react-grid-item.react-grid-placeholder {
  background: rgba(152, 152, 152, 0.274);
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item.react-grid-placeholder.placeholder-resizing {
  transition: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(105, 105, 105, 0.831);
  border-bottom: 2px solid rgba(105, 105, 105, 0.831);
}

.react-grid-item .drag-handle {
  cursor: move;
  height: 20px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n,
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}

* {
  font-family: "Helvetica", sans-serif;
}
